{{ define "main" }}
  <article class="post">
    {{ partial "post-head.html" . }}
    {{ .Content }}
    {{ partial "endmatter.html" . }}
    {{ if not .Date.IsZero }} {{ partial "related.html" . }} {{end}}
  </article>
{{ end }}
{{ define "aside" }}
  {{- if and (or (eq .Params.showToc true) (and (ge .WordCount $.Site.Params.minWordCountForToC | default 1000) (not (eq .Params.showToc false)))) (gt (len .TableOfContents) 32) -}}
    {{- with .TableOfContents }}
      <h4>Navigation</h4>
      {{.}}
    {{- end -}}
  {{- end -}}
{{ end }}
