{{- if eq .Site.Params.theme "theme-base-08" -}}
    {{- $.Scratch.Set "themeColor" "#ac4142" -}}
{{- else if eq .Site.Params.theme "theme-base-09" -}}
    {{- $.Scratch.Set "themeColor" "#d28445" -}}
{{- else if eq .Site.Params.theme "theme-base-0a" -}}
    {{- $.Scratch.Set "themeColor" "#f4bf75" -}}
{{- else if eq .Site.Params.theme "theme-base-0b" -}}
    {{- $.Scratch.Set "themeColor" "#90a959" -}}
{{- else if eq .Site.Params.theme "theme-base-0c" -}}
    {{- $.Scratch.Set "themeColor" "#75b5aa" -}}
{{- else if eq .Site.Params.theme "theme-base-0d" -}}
    {{- $.Scratch.Set "themeColor" "#6a9fb5" -}}
{{- else if eq .Site.Params.theme "theme-base-0e" -}}
    {{- $.Scratch.Set "themeColor" "#aa759f" -}}
{{- else if eq .Site.Params.theme "theme-base-0f" -}}
    {{- $.Scratch.Set "themeColor" "#8f5536" -}}
{{- end -}}