{{- if .Page.Store.Get "hasMermaid" -}}
{{- $script := resources.Get "js/mermaid.min.js" -}}
<script defer src="{{ $script.Permalink }}" onload="mermaid.initialize({startOnLoad: true, theme: matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'neutral'});"></script>
{{- end -}}

{{- if .Page.Store.Get "hasKatex" -}}
{{- $style := resources.Get "css/katex.min.css" -}}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{- end -}}

{{- if .Page.Store.Get "hasNomnoml" -}}
{{- $lodash := resources.Get "js/lodash.min.js" -}}
<script defer src="{{ $lodash.Permalink }}"></script>
{{- $dagre := resources.Get "js/dagre.min.js" -}}
<script defer src="{{ $dagre.Permalink }}"></script>
{{- $nomnoml := resources.Get "js/nomnoml.js" | resources.Minify -}}
<script defer src="{{ $nomnoml.Permalink }}"></script>
<script>
window.iZoomCount = 0;
function toggleNomnoml(id) {
    var figure = document.getElementById("nomnoml-figure-"+id);
    var bZoomed = figure.getAttribute("class") === "umlZoom";
    if (!bZoomed) window.iZoomCount--;
    else window.iZoomCount++;
    figure.setAttribute("class", bZoomed ? "umlScroll" : "umlZoom");
    figure.setAttribute("style", bZoomed ? "cursor: zoom-out" : "cursor: zoom-in");
    document.getElementById("aside").setAttribute("style", (window.iZoomCount > 0) ? "display: none;" : "");
}
</script>
{{- end -}}