{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<div class="relatedContent">
    <hr>
    <h3>Mehr lesen</h3>
    <ul class="post-list">
        {{ range . }}
        <li>
            <span>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                {{if isset .Params "subtitle"}}<br><span class="subtitle-list">{{.Params.subtitle}}</span>{{end}}
                {{ if not .Date.IsZero }}<br><span class="meta"><time>{{ .Date.Format "02.01.2006" }}</time> &middot; {{.ReadingTime}} min {{end}}</span>
            </span>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}