{{- partial "ensure_jquery.html" . -}}
{{- $lunr_script := resources.Get "js/lunr.js" | resources.Minify -}}
<script defer src="{{ $lunr_script.Permalink }}"></script>
{{- $lunr_stemmer_script := resources.Get "js/lunr.stemmer.support.js" | resources.Minify -}}
<script defer src="{{ $lunr_stemmer_script.Permalink }}"></script>
{{- $lunr_de_script := resources.Get "js/lunr.de.js" | resources.Minify -}}
<script defer src="{{ $lunr_de_script.Permalink }}"></script>
{{- $lunr_multi_script := resources.Get "js/lunr.multi.js" | resources.Minify -}}
<script defer src="{{ $lunr_multi_script.Permalink }}"></script>
{{- $mark_script := resources.Get "js/jquery.mark.min.js" -}}
<script defer src="{{ $mark_script.Permalink }}"></script>
{{- $search := resources.Get "js/search.js" | resources.Minify -}}
<script defer src="{{ $search.Permalink }}"></script>

<p>Suchanfrage: <input id="search-query" onkeyup="debouncedLiveSearch()" /></p>
<h3>Suchergebnisse</h3>
<div id="search-results" class="post-list">
</div>
<!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->
<script id="search-result-template" type="text/x-js-template">
    <div id="summary-${key}">
    <a href="${link}">${title}</a>
    ${ isset subtitle }<br><span class="subtitle-list">${subtitle}</span>${ end }
    ${ isset categories }<br><span class="meta">${categories}</span>${ end }
    ${ isset series }<span class="meta"> &middot; ${series}</span>${ end }
    <p>${snippet}</p>
    </div>
</script>